repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
  - id: check-added-large-files
    args: [--maxkb=100]
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: mixed-line-ending
  - id: no-commit-to-branch
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
- repo: https://github.com/ambv/black
  rev: 19.3b0
  hooks:
  - id: black
- repo: https://github.com/homebysix/pre-commit-macadmin
  rev: v1.1.1
  hooks:
  - id: check-autopkg-recipes
    args: [--recipe-prefix=com.github.homebysix.]
    exclude: Kitematic
  - id: forbid-autopkg-overrides
  - id: forbid-autopkg-trust-info
