---
name: pylint

on:
  push:
    paths:
      - "**.py"
  pull_request:
    paths:
      - "**.py"

jobs:
  pylint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: GitHub Action for pylint
        uses: cclauss/GitHub-Action-for-pylint@0.7.0
        with:
          args: "pylint SharedProcessors/*.py"
